<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BraidsTribe</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="../static/braidstribelogo.png" width="190px" th:src="@{braidstribelogo.png}"/>
                <img src="../static/menu.png" onclick="menutoggle()" class="menu-icon" th:src="@{menu.png}">
            </div>
            <nav class="navbar navbar-expand-sm fixed-top">
                <div>
                    <ul class="navbar-nav">
                        <ul id="MenuItems">
                            <a th:href="@{/}">Home</a>
                            <a th:href="@{/product}">Products</a>
                            <a th:href="@{/checkout}">Checkout</a>
                            <a th:href="@{/aboutUs}">About-Us</a>
                            <a th:href="@{/account}">Account</a>
                        </ul>
                    </ul>
                </div>
            </nav>
            <a href="cart.html"><img src="../static/cart.png" width="30px" height="30px" th:src="@{/cart.png}"/></a>
            <img src="../static/menu.png" onclick="menutoggle()" class="menu-icon" th:src="@{/menu.png}">
        </div>
    </div>
</div>

<!-- About Us Section -->
<section class="about-section">
    <div class="container">
        <h1>About Us</h1>
        <p style="padding: 75px; text-align: center;">At BraidsTribe, we have products to meet your hair in whatever stage it's in.
            We want to be involved in every step of your hair care routine
            to ensure your hair is getting the nourishment it deserves.
            Our mission for the Braidstribe community is to center the celebration
            of black beauty. Black owned and black founded.</p>
    </div>
</section>

<div class="footer">
    <div class="container">
        <div class="footer-col1">
            <!-- Empty div -->
        </div>
        <div class="footer-col2">
            <h3>Useful Links</h3>
            <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Influencer Program</li>
            </ul>
        </div>
        <div class="footer-col3">
            <h3>Follow Us</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Instagram</li>
                <li>YouTube</li>
            </ul>
        </div>
        <div class="text-center p-3">
            <p style="text-align: center;">&copy; BraidsTribe 2023</p>
        </div>
    </div>
</div>
</body>
</html>
