<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart - BraidsTribe</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="index.html"><img src="images/braidstribe logo (1).ico" width="125px"></a>
        </div>
        <nav>
            <ul id="MenuItems">
                <li><a href="index.html">Home</a></li>
                <li><a href="products.html">products</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="account.html">Account</a></li>
            </ul>
        </nav>
        <a href="order.html"><img src="images/order.png" width="30px" height="30px"></a>
        <img src="images/menu.png" onclick="menutoggle()" class="menu-icon">
    </div>

</div>


<!--------------Order Items details--------------->
<div class="small-container order-page">

    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>

        <tr>
            <td>
                <div class="order-info">
                    <img src="images/buy-1.jpg">
                    <div>
                        <p>Green Braiding Hair</p>
                        <small>Price: $19.00</small><br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$19.00</td>
        </tr>
        <tr>
            <td>
                <div class="order-info">
                    <img src="images/buy-2.jpg">
                    <div>
                        <p>Blue Braiding Hair</p>
                        <small>Price: $75.00</small><br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$19.00</td>
        </tr>
        <tr>
            <td>
                <div class="order-info">
                    <img src="images/buy-3.jpg">
                    <div>
                        <p>Rainbow Braiding hair</p>
                        <small>Price: $19.00</small><br>
                        <a href="">Remove</a>
                    </div>
                </div>
            </td>
            <td><input type="number" value="1"></td>
            <td>$19.00</td>
        </tr>
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$57.00</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>$5.00</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$62.00</td>
            </tr>

        </table>
    </div>
    <div class="total-price">
        <a href="#" class="btn">Proceed to checkout &#8594;</a>
    </div>

</div>

<!----------Footer--------------->

<div class="footer">
    <div class="container">
        <p style="padding: 30px; text-align: center;">At BraidsTribe, we have products to meet your hair in whatever stage it's in.
            We want to be involved in every step of your hair care routine
            to ensure your hair is getting the nourishment it deserves.
        </p>

        <div class="footer-col1">
            <!--empty div-->
        </div>
        <div class="footer-col2">
            <h3>Useful Links</h3>
            <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Influencer Program</li>
            </ul>
        </div>
        <div class="footer-col3">
            <h3>Follow Us</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter<li>
                <li>Instagram</li>
                <li>YouTube</li>
            </ul>
        </div>
        <div class="text-center p-3">
            <p style="text-align: center;">Copyright BraidsTribe &copy;2023</p>
        </div>
    </div>
</div>



<!-------------js for toggle menu-------------->

<script>

    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            }
    }


</script>



</body>
</html>

