<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Braidstribe</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="images/braidstribe logo (1).ico" width="190px"></a>
            </div>
            <nav class="navbar navbar-expand-sm fixed-top">
                <div>
                    <ul class="navbar-nav">
                        <ul id="MenuItems">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="products.html">products</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Contact</a></li>
                            <li><a href="account.html">Account</a></li>
                        </ul>
            </nav>
            <a href="order.html"><img src="images/order.png" width="30px" height="30px"></a>
            <img src="images/menu.png" onclick="menutoggle()" class="menu-icon">
        </div>
        <section>
            <class="row">
            <div class="col-2">

                <img src="images/hero.jpg">

                <h2>Subscribe To Our Braids Baddie Newsletter and<br>join Our Tribe!</h2>
                <p>Enter your email for chance to win our braids baddie hair bundle.</p>
                <a href="https://www.etsy.com/shop/BRAIDTRIBE" class="btn">Sign Me Up! &#8594;</a>
            </div>

    </div>
    </section>
</div>

</div>

<!------------------ featured categories --------------->
<!--
     <div class="categories">
         <div class="small-container">
           <div class="row">
               <div class="col-3">
                   <img src="images/purpleBraidingHair.webp">
               </div>
               <div class="col-3">
                  <img src="images/greenBraidingHair.webp">
               </div>
               <div class="col-3">
                   <img src="images/blueBraidingHair.webp">
               </div>
           </div>
       </div>
     </div>
    -->



<!----------testimonial--------------->

<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="images/purpleBraidingHair.webp">
                <!-- <i class="fa fa-quote-left"></i> -->
                <p>Beautiful and soft braiding hair, you won't be disappionted.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <!--   <img src="images/user-1.png"> -->
                <h3>Iya Parker</h3>
            </div>
            <div class="col-3">
                <img src="images/greenBraidingHair.webp">
                <!-- <i class="fa fa-quote-left"></i> -->
                <p>I love my new braids, fast shipping.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <!--    <img src="images/user-2.png"> -->
                <h3>Simi Smith</h3>
            </div>
            <div class="col-3">
                <img src="images/hotPinkBraidingHair.webp">
                <!-- <i class="fa fa-quote-left"></i> -->
                <p>The colors are so vivrant, would buy again.</p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <!-- <img src="images/user-3.png"> -->
                <h3>Moreen Joe</h3>
            </div>
        </div>
        <!--
       <div class="row">
           <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                      <p>Beautiful and soft braiding hair, you won't be disappionted.</p>
                      <div class="rating">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star-o"></i>
                       </div>
                       <img src="images/user-1.png">
                       <h3>Iya Parker</h3>
           </div>
            <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                      <p>I love my new braids, fast shipping.</p>
                      <div class="rating">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star-o"></i>
                       </div>
                       <img src="images/user-2.png">
                       <h3>Simi Smith</h3>
           </div>
            <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                      <p>The colors are so vivrant, would buy again.</p>
                      <div class="rating">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star-o"></i>
                       </div>
                       <img src="images/user-3.png">
                       <h3>Moreen Joe</h3>
           </div>
       </div> -->
    </div>
</div>

<!----------offer--------------->

<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="images/girlWithBraids.jpg" class="offer-img">
            </div>
            <div class="col-2">

                <h1>Our mission For the braidstribe community is</h1>
                <small>to center the celebration of black beauty. Black owned and black founded.</small>
                <br>
                <a href="https://www.etsy.com/shop/BRAIDTRIBE" class="btn">About Us! &#8594;</a>
            </div>
        </div>
    </div>

</div>

<!----------Footer--------------->

<div class="footer">
    <div class="container">
        <p style="padding: 30px; text-align: center;">At BraidsTribe, we have products to meet your hair in whatever stage it's in.
            We want to be involved in every step of your hair care routine
            to ensure your hair is getting the nourishment it deserves.
        </p>

        <div class="footer-col1">
            <!--empty div-->
        </div>
        <div class="footer-col2">
            <h3>Useful Links</h3>
            <ul>
                <li>Coupons</li>
                <li>Blog Post</li>
                <li>Return Policy</li>
                <li>Influencer Program</li>
            </ul>
        </div>
        <div class="footer-col3">
            <h3>Follow Us</h3>
            <ul>
                <li>Facebook</li>
                <li>Twitter<li>
                <li>Instagram</li>
                <li>YouTube</li>
            </ul>
        </div>
        <div class="text-center p-3">
            <p style="text-align: center;">Copyright BraidsTribe &copy;2023</p>
        </div>
    </div>
</div>

<!-------------js for toggle menu-------------->

<script>

    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            }
    }

</script>
</body>
</html>

