<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BraidsTribe</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
  <div class="navbar">
    <div class="logo">
      <a href="index.html"><img src="images/braidstribe logo (1).ico" width="125px"></a>
    </div>
    <nav>
      <ul id="MenuItems">
        <li><a href="index.html">Home</a></li>
        <li><a href="products.html">Products</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="account.html">Account</a></li>
      </ul>
    </nav>
    <a href="cart.html"><img src="images/cart.png" width="30px" height="30px"></a>
    <img src="images/menu.png" onclick="menutoggle()" class="menu-icon">
  </div>

</div>
<!----------------- title -------------->
<div class="small-container">
  <div class="row row-2">
    <h2>All Products</h2>
    <select>
      <option>Default Sorting</option>
      <option>Sort by price</option>
      <option>Sort by popularity</option>
      <option>Sort by rating</option>
      <option>Sort by sale</option>
    </select>
  </div>


  <div class="row">
    <div class="col-4">

      <a href="product-details.html"><img src="images/purpleBraidingHair.webp"></a>
      <h4><a href="product-details.html">Purple Braiding Hair</a></h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$19.00</p>
    </div>
    <div class="col-4">
      <img src="images/greenBraidingHair.webp">
      <h4>Green Braiding Hair</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
      <p>$19.00</p>
    </div>
    <div class="col-4">
      <img src="images/rainbowBraidingHair.webp">
      <h4>Rainbow braiding Hair</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
      <p>$19.00</p>
    </div>
    <div class="col-4">
      <img src="images/blueBraidingHair.webp">
      <h4>Blue Braiding Hair</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$19.00</p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <img src="images/product-5.jpg">
      <h4>Braid Oil</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
      </div>
      <p>$25.00</p>
    </div>
    <div class="col-4">
      <img src="images/product-6.jpg">
      <h4>Braid Shampoo</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
      <p>$25.00</p>
    </div>
    <div class="col-4">
      <img src="images/product-7.jpg">
      <h4>Braid Conditioner</h4>
      <div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-o"></i>
      </div>
      <p>$30.00</p>
    </div>


    <div class="page-btn">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>&#8594;</span>
    </div>
  </div>

  <!----------Footer--------------->

  <div class="footer">
    <div class="container">
      <p style="padding: 30px; text-align: center;">At BraidsTribe, we have products to meet your hair in whatever stage it's in.
        We want to be involved in every step of your hair care routine
        to ensure your hair is getting the nourishment it deserves.
      </p>

      <div class="footer-col1">
        <!--empty div-->
      </div>
      <div class="footer-col2">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Influencer Program</li>
        </ul>
      </div>
      <div class="footer-col3">
        <h3>Follow Us</h3>
        <ul>
          <li>Facebook</li>
          <li>Twitter<li>
          <li>Instagram</li>
          <li>YouTube</li>
        </ul>
      </div>
      <div class="text-center p-3">
        <p style="text-align: center;">Copyright BraidsTribe &copy;2023</p>
      </div>
    </div>
  </div>

  <!-------------js for toggle menu-------------->

  <script>

    var MenuItems = document.getElementById("MenuItems");

    MenuItems.style.maxHeight = "0px";

    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            }
    }

</script>
</html>

