<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BraidsTribe Users</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <a class="navbar-brand ml-3" href="#">BraidsTribe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/order">Order</a>
            <a class="nav-item nav-link active" href="/users">Users <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/menu">Menu</a>
            <a class="nav-item nav-link" href="/viewOrders">View Orders</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="display-2 pt-5 mb-5">BraidsTribe</h1>

    <div class="card">
        <h2>Users</h2>
        <hr>
        <div class="d-flex justify-content-between mt-3">
            <a href="/registration" class="btn btn-primary mb-4"><i class="fa fa-plus mr-1"></i> Add User</a>
        </div>

        <div class="pb-4">
            <table class="table table-bordered table-responsive-md mx-auto">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${listUsers}">
                    <td th:text="${user.firstName}">First Name</td>
                    <td th:text="${user.lastName}">Last Name</td>
                    <td th:text="${user.email}">Email</td>
                    <td>
                        <a href="/showFormForUpdate/{id}(id=${user.id})" class="btn btn-primary">Update</a>
                        <a href="/deleteUser/{id}(id=${user.id})" class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
>